main {
    margin-top: 48px;
}

.plan {
    border: 4px solid #32633f;
    border-left: none;
    margin: 20px 0;
    padding: 20px;
    width: 70%;
    background-color: #c7f0d1;
}
.plan a{
    text-decoration: none;
}

.plan h1 {
    color: black;
    font-weight: bold;
}

.plan h2 {
    color: #9d9e9d;
    font-weight: bold;
}

.plan p {
    background-color: white;
    border: 2px solid #9d9e9d;
    color: #32633f;
    padding: 20px;
}

.plan:last-of-type {
    border: 4px solid #32633f;
    border-left: none;
    margin: 20px 0;
    padding: 20px;
    width: 70%;
    background-color: #32633f;
    color: white
}

.plan:last-of-type h1 {
    color: white;
}

.plan:last-of-type h2 {
    color: white;
}

.plan:hover {
    box-shadow: 4px 4px 2px #9da19e;
    border-color: #ff1b68;
}

.background {
    background-image: url('../images/plans-background.jpg');
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
}

#free {
    float: right;
    border: 4px solid #32633f;
    border-right: none;
}


#free:hover {
    box-shadow: -4px 4px 2px #9da19e;
    border-color: #ff1b68;
}

#premium {
    clear: right;
}

#plus {
    position: relative;
}

#plus-badge {
    position: absolute;
    right: 20px;
}