@font-face {
    font-family: "AnonymousPro";
    src: url('AnonymousPro-Regular.woff2') format('woff2'),
    url('AnonymousPro-Regular.woff') format('woff'),
    url('AnonymousPro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'AnonymousPro';
    src: url('AnonymousPro-Bold.ttf');
    font-weight: 700;
}
main {
    margin-top: 3.75rem;
    position: relative;
    z-index: -1;
    margin-left: 0;
    margin-right: 0;
}

.plan {
    border: 4px solid #32633f;
    border-left: none;
    margin: 1.25rem 0;
    padding: 1.25rem;
    width: 80%;
    background-color: #c7f0d1;
    
}
.plan a{
    text-decoration: none;
}

.plan h1 {
    color: black;
    font-weight: bold;
}

.plan h2 {
    color: #9d9e9d;
    font-weight: bold;
}

.plan p {
    background-color: white;
    border: 2px solid #9d9e9d;
    color: #32633f;
    padding: 20px;
}

.plan:last-of-type {
    border: 4px solid #32633f;
    border-left: none;
    margin: 1.25rem 0;
    padding: 1.25rem;
    width: 80%;
    background-color: #32633f;
    color: white
}

.plan:last-of-type h1 {
    color: white;
}

.plan:last-of-type h2 {
    color: white;
}

.plan:hover {
    box-shadow: 4px 4px 2px #9da19e;
    border-color: #ff1b68;
}

.background {
    background: url('../images/plans-background.jpg') center/cover;   
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    filter: grayscale(60%);
}

#free {
    float: right;
    border: 4px solid #32633f;
    border-right: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: italic;
    line-height: 2;
    /* text-decoration: underline 2px dotted grey; */
    /* text-shadow: 2px 2px 2px #9d9e9d; */
}


#free:hover {
    box-shadow: -4px 4px 2px #9da19e;
    border-color: #ff1b68;
}

#premium {
    clear: right;
}

#plus {
    position: relative;
    font-family: 'AnonymousPro';
    /* font-style: italic; */
    font-weight: 700;
}

#plus-badge {
    position: absolute;
    right: 1.25rem;
    z-index: 10;
}

@media(min-width: 40rem) {
    main {
        max-width: 1000px;
        /* margin: 3em auto; */
    }
}

@media(min-width: 1000px) {
    main {
       
        margin: 3em auto ;
    }
    .plan {
       
        margin: 1.25rem 1.25rem;
        border-left: 4px solid #32633f;
      
    }

    #free {
        border-right: 4px solid #32633f;
    

    }

    .plan:last-of-type {
       
        margin: 1.25rem 1.25rem;
    }
}