.container {
    margin: 20px;
    display: grid;
    /* height: 900px; */
    grid-template-columns: repeat(auto-fit, 15rem);
    /* grid-template-rows: repeat(2, auto); */
    justify-content: center;
    grid-gap: 1.5rem;
    grid-auto-rows: minmax(12rem, auto);
    /* justify-items: center; */
    justify-content: center;
    /* grid-auto-columns: minmax(12rem, 15rem); */
}

.quote {
  border: 1px solid #fa923f;
  background: #ffbd87;
  font-family: sans-serif;
  padding: 1rem;
  border-radius: 5px;
}

.quote--featured {
  border: #ff4213;
  background: #ff9f87;
  grid-column: span 2;
}