* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

#product-overview {
    background: #ff1b68;
    width: 100%;
    height: 528px;
    padding: 10px;
    
}

.section-title {
    color: #2ddf5c;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

.main-header {
    background-color: #2ddf5c;
    color: white;
    padding: 0 10px;
}

.brand-name-container {
    display: inline-block;
    /* div will be aligned in the middle of parent vertically*/
    vertical-align: middle;
}

.brand-name-container a {
    font-weight: bold;
    font-size: 42px;
    text-decoration: none;
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 145px);
    color: #0e4f1f; 
    /* nav will be aligned in the middle of parent vertically*/
    vertical-align: middle;
}

.main-nav__list {
    list-style-type: none;
}

.main-nav__item {
    /* so that li elements appear in same line and we adjust width/height of those*/
    display: inline-block;
    padding: 0 10px;
    /* width: 200px; */
}

.main-nav__item a {
    color: white;
    text-decoration: none;
}