/* html, body {
    height: 100%;
} */
.container {
    display: grid;
    height: 100vh;
    grid-template-columns: [col-1-start] minmax(150px, 30%) [col-2-start] minmax(150px, 70%);
    grid-template-rows: [row-1-start]  100px [row-2-start] auto [row-3-start]  150px;
    grid-template-areas: "header header"
                        "sidebar main"
                        "footer footer";
    grid-row-gap: 5px;
    grid-column-gap: 5px;
}
.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header {
    background-color: chocolate;
    color: white;
    grid-column-end: span 2;
    grid-area: header;
}

.content {
    background-color: blanchedalmond;
    grid-area: main;
}

.footer {
    background-color: black;
    color: white;
    grid-area: footer;
}

.sidebar {
    background-color: darkkhaki;
    grid-area: sidebar;
}